<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Complete word list &bull; Reykunyu</title>
		<link rel="stylesheet" type="text/css" href="aysrungsiyu/semantic/dist/semantic.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="tìlam/tìlam.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<h1>
				<a class="logo" href="/"></a>
				<% if (user) { %>
				<div id="user-label" class="ui left pointing basic label">
					Kaltxì ma <%= user.username %>!
				</div>
				<% } %>
				<div id="language-dropdown" class="ui icon right floated top right pointing dropdown basic button">
					<i class="globe icon"></i>
					<span class="text">English</span>
					&nbsp;<i class="dropdown icon"></i>
					<div class="menu">
						<div class="item" data-value="de">Deutsch</div>
						<div class="item" data-value="et">Eesti</div>
						<div class="item" data-value="en">English</div>
						<div class="item" data-value="fr">Français</div>
						<div class="item" data-value="hu">Magyar</div>
						<div class="item" data-value="nl">Nederlands</div>
						<div class="item" data-value="pl">Polski</div>
						<div class="item" data-value="ru">Русский</div>
						<div class="item" data-value="sv">Svenska</div>
						<div class="divider"></div>
						<div class="item" data-value="x-navi">Na’vi</div>
					</div>
				</div>
				<a href="/" class="ui icon right floated top right basic button">
					<i class="arrow left icon"></i> <%- _('menu-back-to-reykunyu') %>
				</a>
			</h1>
		</div>

		<div class="container two-columns">
			<div class="column">
				<h2><%- _('explanation') %></h2>
				<div class="word-list explanation">
					<div class="entry">
						<span class="word">salew</span>
						(<span class="word-type">v<img src="ayrel/type-arrow.svg" class="arrow">in.</span>, <span class="stress"><span class="unstressed">sa-<img src="ayrel/pronunciation-arrow.svg" class="arrow"></span><span class="stressed">lew</span></span>, s<span class="root-infix">·</span>a<img src="ayrel/infixes-arrow.svg" class="arrow">l<span class="root-infix">·</span>ew)
						<span class="definition">proce<img src="ayrel/translation-arrow.svg" class="arrow">ed, go</span>
						<a class="source-link" title="Na'viteri: “’A’awa tìpängkxotsyìp a teri horen lì’fyayä – A few little discussions about grammar” (2022-01-08)" href="https://naviteri.org/2022/01/aawa-tipangkxotsyip-a-teri-horen-lifyaya-a-few-little-discussions-about-grammar/">nt</a>
					</div>
				</div>
			</div>
			<div class="column">
				<h2><%- _('source-abbreviations') %></h2>
				<ul class="word-list">
					<li><a class="source-link">nt</a>: Na'viteri blog post</li>
					<li><a class="source-link">ln</a>: Learn Na'vi forum post</li>
					<li><a class="source-link">wiki</a>: Learn Na'vi wiki</li>
					<li><a class="source-link">o</a>: other</li>
				</ul>
			</div>
		</div>

		<div class="container word-list-toc">
			<div class="">
				<div class="ui search">
					<div class="ui right action left icon input">
						<i class="filter icon"></i>
						<input id="filter-box" type="search" placeholder="Filter…">
						<div id="type-filter-dropdown" class="ui compact selection dropdown">
							<span class="text"><%- _('all-word-types') %></span>
							<i class="dropdown icon"></i>
							<div class="menu">
								<div class="item" data-value="all"><%- _('all-word-types') %></div>
								<div class="item" data-value="n"><%- _('type-n') %></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ui basic buttons" id="toc-bar">
			</div>
		</div>

		<div class="container">
			<div class="word-list" id="word-list-result">
			</div>
			<div id="spinner" class="ui active centered inline text loader">
				<%- _('loading-word-list') %>
			</div>
		</div>

		<script src="aysrungsiyu/jquery/jquery-3.3.1.js"></script>
		<script src="aysrungsiyu/semantic/dist/semantic.js"></script>
		<script src="ayvefya/ui-translations.js"></script>
		<script src="ayvefya/all.js"></script>
	</body>
</html>

