<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Study &bull; Reykunyu</title>
		<link rel="stylesheet" type="text/css" href="/aysrungsiyu/semantic/dist/semantic.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/tìlam/tìlam.css" rel="stylesheet">
		<link href="/tìlam/study.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<h1>
				<span class="muted">Reykunyu &rarr;</span> Study
				<a href="/" class="ui icon right floated top right basic button">
					<i class="arrow left icon"></i> Back to Reykunyu
				</a>
				<% if (user) { %>
				<div id="user-label" class="ui left pointing basic label">
					Kaltxì ma <%= user.username %>!
				</div>
				<% } %>
			</h1>
		</div>

		<% if (!user) { %>
		<div class="container">
			<p>Reykunyu’s study tool allows you to learn and review Na’vi vocabulary. It has a built-in <i>spaced repetition system</i> (SRS). This means that Reykunyu remembers which words you know well and which words you find difficult, and will make sure difficult words end up in your review sessions more often.</p>
			<p>At the moment, the study tool is in closed beta, to make sure it is bug-free before its release. <i>Rutxe maweypivey</i> &ndash; please be patient: the tool will soon become available to everyone!</p>
			<p class="muted">(If the tool is already supposed to be available to you and you are wondering why you're seeing this text rather than the tool itself: please <a href="/login">login</a> to Reykunyu.)</p>
		</div>
		<% } else { %>
		<div class="container">
			<h2>Available lessons</h2>
			<div class="lessons-container">
				<% for (const i in lessons) {
					const lesson = lessons[i]; %>
				<a class="lesson-container" href="/study/<%= lesson['reviewable_count'] > 0 ? 'review' : 'learn' %>?lesson=<%= i %>">
					<div class="lesson-name"><%= lesson['name'] %></div>
					<div class="lesson-description"><%= lesson['description'] %></div>
					<div class="lesson-progress"><b><%= lesson['total_count'] %></b> items
						<% if (lesson['known_count'] > 0) { %>
						&bull; <b><%= lesson['known_count'] %></b> learned
						<% } %>
						<% if (lesson['reviewable_count'] > 0) { %>
						&bull; <b><%= lesson['reviewable_count'] %></b> now up for review
						<% } %>
					</div>
				</a>
				<% } %>
			</div>
		</div>
		<% } %>

		<script src="/aysrungsiyu/jquery/jquery-3.3.1.js"></script>
		<script src="/aysrungsiyu/semantic/dist/semantic.js"></script>
	</body>
</html>

