<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Corpus editor &bull; Reykunyu</title>
		<link rel="stylesheet" type="text/css" href="/aysrungsiyu/semantic/dist/semantic.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/tìlam/tìlam.css" rel="stylesheet">
	</head>
	<body data-url="<%= post_url %>">
		<div class="container">
			<%- include('header.ejs') %>

			<div class="ui form">
				<div class="field">
					<label>Sentence</label>
					<input id="sentence-field" type="text" value="<%= sentence['na\'vi'].map(s => s[0]).join(' ') %>">
				</div>
				<h3>Source</h3>
				<table id="source-field" class="ui compact table">
					<thead>
						<tr>
							<th class="four wide">Name</th>
							<th class="three wide">URL</th>
							<th class="three wide">Date</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<input id="source-name-field" type="text" value="<%= sentence['source'][0] %>">
							</td>
							<td>
								<input id="source-url-field" type="url" value="<%= sentence['source'][1] %>">
							</td>
							<td>
								<input id="source-date-field" type="date" value="<%= sentence['source'][2] %>">
							</td>
						</tr>
					</tbody>
				</table>
				<div class="ui section divider"></div>
				<h3>Grammatical analysis</h3>
				<table id="grammatical-analysis-table" class="ui table">
					<thead>
						<tr>
							<th>Na'vi word in sentence</th>
							<th>Corresponding root word</th>
						</tr>
					</thead>
					<tbody>
						<% for (let word of sentence["na'vi"]) { %>
							<tr>
								<td style="width: 25%;">
									<input class="navi-field" value="<%= word[0] %>">
								</td>
								<td style="width: 25%;">
									<input class="root-field" value="<%= word[1].join(' / ') %>">
								</td>
							</tr>
						<% } %>
					</tbody>
				</table>
				<div class="ui section divider"></div>
				<h3>Translation</h3>
				<div class="field">
					<label>Translation</label>
					<input id="translation-field" type="text" value="<%= sentence['translations']['en']['translation'].join(' ') %>">
				</div>
				<p>Click a Na'vi word in the upper row, then select the English word(s), if any, that (roughly) translate that word.</p>
				<table class="ui table">
					<tr>
						<td id="mapping-navi-row">
							<% for (let i = 0; i < sentence['na\'vi'].length; i++) { %>
								<button class="compact ui button mapping-navi-button" data-id="<%= i + 1 %>">
									<sup class="muted"><%= i + 1 %></sup> <%= sentence['na\'vi'][i][0] %>
								</button>
							<% } %>
						</td>
					</tr>
					<tr>
						<td id="mapping-translated-row">
							<% for (let i = 0; i < sentence['translations']['en']['translation'].length; i++) { %>
								<button class="compact ui button mapping-translated-button" data-id="<%= i + 1 %>">
									<sup class="muted"><%= i + 1 %></sup> <%= sentence['translations']['en']['translation'][i] %>
								</button>
							<% } %>
						</td>
					</tr>
				</table>
				<input id="mapping-field" type="text" value="<%= JSON.stringify(sentence['translations']['en']['mapping']) %>">
				<div class="ui section divider"></div>
				<a href="/corpus-editor" class="ui floated right submit button">
					Cancel
				</a>
				<div id="save-button" class="ui floated right primary submit icon labeled button">
					<i class="check icon"></i>
					Save
				</div>
			</div>
		</div>

		<script src="/aysrungsiyu/jquery/jquery-3.3.1.js"></script>
		<script src="/aysrungsiyu/semantic/dist/semantic.js"></script>
		<script src="/ayvefya/corpusEditor.js"></script>
		<script src="/ayvefya/ui-translations.js"></script>
	</body>
</html>
