<!doctype html>

<html>
	<%- include('head.ejs') %>
	<body data-url="<%= post_url %>">
                    <div class="ui form">
			<%- include('header.ejs') %>
				<h2> Do you really want to delete id=<%- word['id'] %>, <%- word['na\'vi'] %> <%- word['type'] %> ?</h2>
					<form method="post" action="/delete?word=<%= word['id'] %>">
					<button type="submit" id="delete-button">Delete</button>
					</form>
					<a href="/" class="ui floated right submit button"> Cancel </a>
		</div>
		<script src="/vendor/jquery/jquery-3.3.1.js"></script>
		<script src="/vendor/semantic/dist/semantic.js"></script>
		<script src="/js/edit.js"></script>
		<script src="/js/ui-translations.js"></script>
	</body>
</html>

