<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Etymology editor &bull; Reykunyu</title>
		<link rel="stylesheet" type="text/css" href="/vendor/semantic/dist/semantic.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/index.css" rel="stylesheet">
	</head>
	<body data-url="<%= post_url %>">
		<div class="container">
			<%- include('header.ejs') %>

			<p>On this page, you can edit Reykunyu's etymology data. To edit, just type in a text field. Then as soon as you move to another text field, the text you typed will be stored automatically (so you don't need to click a save button). Some random suggestions to try to keep the etymology data consistent:</p>
			<ul>
				<li>If a word is a root without clear components, just leave the etymology field empty. (Less work, yay :D)</li>
				<li>Refer to other Na'vi words that this word is made of like this: <i>[kaltxì:intj]</i>. The standard formulation is <i>From [blah:n] + [blaaaah:adj] + [blub:v:tr]</i>. Of course you can add more explanation when required (see for example the entry for <b>toruk</b> or <b>emrey</b>).</li>
				<li>If an etymology seems plausible but is not really certain, just write <i>Likely from</i> instead of <i>From</i> (see for example the entry for <b>lì’fya</b>).</li>
			</ul>
			<div class="ui section divider"></div>
			<div class="ui form">
				<table class="ui table">
					<thead>
						<tr>
							<th>Word</th>
							<th style="min-width: 66%;">Etymology</th>
						</tr>
					</thead>
					<tbody>
						<% let ids = [];
						for (let id in words) {
							ids.push(id);
						}
						const collator = new Intl.Collator();
						const removeMarkup = (word) => word.replaceAll('/', '').replaceAll('[', '').replaceAll(']', '');
						const htmlMarkup = (word) => word.replaceAll('/', '').replaceAll('[', '<span class="stressed">').replaceAll(']', '</span>');
						ids.sort((a, b) => {
							return collator.compare(removeMarkup(words[a]["na'vi"]), removeMarkup(words[b]["na'vi"]));
						});
						for (let id of ids) {
							const word = words[id];
						%>
						<tr>
							<td>
								<%- htmlMarkup(word["na'vi"]) %><span class="muted"> (<%= word['type'] %>)</span>
							</td>
							<td>
								<input class="etymology-field" data-json="<%= JSON.stringify(word) %>" value="<%= word['etymology'] %>">
							</td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
		</div>

		<script src="/vendor/jquery/jquery-3.3.1.js"></script>
		<script src="/vendor/semantic/dist/semantic.js"></script>
		<script src="/js/etymologyEditor.js"></script>
		<script src="/js/ui-translations.js"></script>
	</body>
</html>

