<% if (development) { %>
	<div class="development-banner"><div class="development">Development version</div></div>
<% } %>
<h1>
	<a class="logo" href="/"></a>
	<% if (locals['offline']) { %>
	<div id="user-label" class="ui left pointing basic label">
		<%- _('offline') %>
	</div>
	<% } else if (user) { %>
	<div id="user-label" class="ui left pointing basic label">
		Kxì ma <%= user.username %>!
	</div>
	<% } %>
	<%- include('language-menu.ejs') %>
	<% if (locals['isMainPage']) { %>
	<div class="ui buttons main-menu">
		<a class="ui icon basic button" href="/all"><i class="book icon"></i><span class="button-label"><%- _("menu-all-words") %></span></a>
		<a id="study-button" class="ui icon basic button<% if (locals['offline']) { %> disabled<% } %>" href="/study"><i class="calendar check outline icon"></i><span class="button-label"><%- _("menu-study") %><% if (locals['reviewableCount'] && reviewableCount > 0) { %><span class="reviewable-count-label"><%= reviewableCount %></span><% } %></span></a>
		<%- include('user-menu.ejs') %>
		<div id="settings-button" class="ui icon basic button"><i class="cogs icon"></i><span class="button-label"><%- _("menu-settings") %></span></div>
		<a id="help-button" class="ui icon basic button" href="/help"><i class="question icon"></i><span class="button-label"><%- _("menu-help") %></span></a>
	</div>
	<% } else { %>
	<% if (!locals['backTo']) { locals['backTo'] = '/'; } %>
	<% if (!locals['backMessage']) { locals['backMessage'] = 'menu-back-to-reykunyu'; } %>
	<a href="<%- locals['backTo'] %>" class="ui icon right floated top right basic button">
		<i class="arrow left icon"></i> <%- _(locals['backMessage']) %>
	</a>
	<% if (locals['showLoginButton']) { %>
	<div class="ui buttons main-menu">
		<%- include('user-menu.ejs') %>
	</div>
	<% } %>
	<% } %>
</h1>
