<% if (development) { %>
	<div class="development-banner"><div class="development">Development version</div></div>
<% } %>
<h1>
	<a class="logo" href="/"></a>
	<% if (locals['offline']) { %>
	<div id="user-label" class="ui left pointing basic label">
		<%- _('offline') %>
	</div>
	<% } else if (user) { %>
	<div id="user-label" class="ui left pointing basic label">
		Kxì ma <%= user.username %>!
	</div>
	<% } %>
	<%- include('language-menu.ejs') %>
	<% if (locals['isMainPage']) { %>
	<a class="ui icon basic button right floated" id="omaticon-button">
		<svg version="1.1" viewBox="0 0 268 316.4" xmlns="http://www.w3.org/2000/svg">
			<path fill="currentColor" d="m183.1 0c-6.74 14.31-23.68 23.68-23.68 23.68-41.88 21.46-59.87 37.88-59.87 37.88-45.14 32.83-48.4 90.81-48.4 90.81-17.15-45.67-3.26-90.81-3.26-90.81-34.2 47.35-26.41 128.6-26.41 128.6-5.58-6.21-21.47-48.3-21.47-48.3-0.1 18.1 1.899 48.51 16.53 82.07 8.73 20.31 22.52 51.88 55.14 72.4 34.94 21.89 91.55 31.25 136.5 0 31.25-21.67 57.45-63.13 49.77-108.2-6.53-37.99-35.15-63.03-35.15-63.03h-0.0293l0.1094-0.3184c30.3-24.1 38.51-62.82 38.51-62.82-25.88 37.67-45.98 42.83-45.98 42.83 39.99-40.62 30.31-83.66 30.31-83.66-4.1 23.04-25.25 51.77-48.72 66.08-23.46 14.31-32.09 22.52-32.09 22.52-32.41 35.35-37.04 81.97-37.04 81.97 3.06-4.84 7.691-11.47 14.21-18.84 6.31-7.16 9.57-10.74 14.52-14 2.63-1.68 19.47-12.62 36.83-5.891 12.73 4.95 18.31 16.63 19.89 19.89 8.21 17.05 4.101 37.78-6.209 51.88-14.31 19.68-37.25 21.78-43.04 22.31-20.94 2-36.3-7.161-41.35-10.21-3.89-2.31-16.63-10.52-25.57-26.83-11.36-20.62-9.359-40.51-8.309-47.56 0.74-10.94 3.26-27.46 12.1-45.14 2.1-4.21 4.631-8.321 9.051-15.05 9.05-13.89 21.78-30.41 41.46-49.67 27.36-26.83 31.67-52.61 31.67-52.61zm-2.887 117.8a2.95 4.21 62.7 0 1 2.537 1.324 2.95 4.21 62.7 0 1-2.389 4.553 2.95 4.21 62.7 0 1-5.094-0.6914 2.95 4.21 62.7 0 1 2.387-4.553 2.95 4.21 62.7 0 1 2.559-0.6328zm-11.3 10.17a4.52 6.52 62.7 0 1 4.693 1.982 4.52 6.52 62.7 0 1-3.721 7.008 4.52 6.52 62.7 0 1-7.867-1.027 4.52 6.52 62.7 0 1 3.721-7.006 4.52 6.52 62.7 0 1 3.174-0.957z"/>
		</svg>
		<i class="omaticon icon"></i>
	</a>
	<div class="ui buttons main-menu">
		<a class="ui icon basic button" href="/all"><i class="book icon"></i><span class="button-label"><%- _("menu-all-words") %></span></a>
		<a id="study-button" class="ui icon basic button<% if (locals['offline']) { %> disabled<% } %>" href="/study"><i class="calendar check outline icon"></i><span class="button-label"><%- _("menu-study") %><% if (locals['reviewableCount'] && reviewableCount > 0) { %><span class="reviewable-count-label"><%= reviewableCount %></span><% } %></span></a>
		<%- include('user-menu.ejs') %>
		<div id="settings-button" class="ui icon basic button"><i class="cogs icon"></i><span class="button-label"><%- _("menu-settings") %></span></div>
		<a id="help-button" class="ui icon basic button" href="/help"><i class="question icon"></i><span class="button-label"><%- _("menu-help") %></span></a>
	</div>
	<% } else { %>
	<% if (!locals['backTo']) { locals['backTo'] = '/'; } %>
	<% if (!locals['backMessage']) { locals['backMessage'] = 'menu-back-to-reykunyu'; } %>
	<a href="<%- locals['backTo'] %>" class="ui icon right floated top right basic button">
		<i class="arrow left icon"></i> <%- _(locals['backMessage']) %>
	</a>
	<% if (locals['showLoginButton']) { %>
	<div class="ui buttons main-menu">
		<%- include('user-menu.ejs') %>
	</div>
	<% } %>
	<% } %>
</h1>
