<!doctype html>

<html>
	<%- include('head.ejs', { 'title': 'Recent edits' }) %>
	<body>
		<div class="container">
			<%- include('header.ejs') %>

			<table class="ui table">
				<thead>
					<tr>
						<th>User</th>
						<th>Date / time (UTC)</th>
						<th>Word</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% for (let h in history) {
						let item = history[h];
					%>
					<% const htmlMarkup = (word) => word.replaceAll('/', '').replaceAll('[', '<span class="stressed">').replaceAll(']', '</span>'); %>
					<tr>
						<td><%= item['user'] %></td>
						<% let date = new Date(item['date']);
						let parts = date.toISOString().split('T') %>
						<td><%= parts[0] %> <span class="muted"><%= parts[1].split('.')[0] %></span></td>
						<td><%- htmlMarkup(item['data']['na\'vi']) %> <span class="muted">(<%= item['data']['type'] %>)</span></td>
						<% if (item['old']) { %>
							<td><span class="muted">edited</span></td>
						<% } else { %>
							<td><span class="muted">added</span></td>
						<% } %>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>

		<script src="/vendor/jquery/jquery-3.3.1.js"></script>
		<script src="/vendor/semantic/dist/semantic.min.js"></script>
		<script src="/js/ui-translations.js"></script>
	</body>
</html>

