<!doctype html>

<html>
	<%- include('head.ejs') %>
	<body class="<%- locals['user'] ? ' logged-in' + (user['is_admin'] ? ' logged-in-admin' : '') : '' %><%- locals['offline'] ? ' offline' : '' %>">
		<div class="container">
			<%- include('header.ejs', { 'isMainPage': true }) %>

			<% if (locals['dataErrorCount'] && dataErrorCount > 0) { %>
				<div class="error-block">
					<p><%- _('data-errors-detected-1') %> <%= dataErrorCount %> <%- _('data-errors-detected-2') %></p>
					<p class="block-postscript"><%- _('only-for-admins') %></p>
				</div>
			<% } %>

			<form id="search-form">
				<div class="ui search fluid">
					<div class="ui right action left icon input fluid">
						<i class="search icon"></i>
						<input id="search-box" type="search" autofocus value="<%= query %>">
						<div id="mode-direction" class="ui compact selection dropdown">
							<span class="text">Na'vi &harr; <%- _('language') %></span>
							<i class="dropdown icon"></i>
							<div class="menu">
								<div class="item" data-value="reykunyu">Na'vi &harr; <%- _('language') %></div>
								<div class="item" data-value="annotated">Annotated Dictionary</div>
								<div class="item" data-value="rhymes"><%- _("menu-rhymes") %></div>
							</div>
						</div>
					</div>
					<div class="results"></div>
				</div>
			</form>

			<div id="tab-mode-bar" style="display: none;" class="ui top attached tabular menu">
			</div>

			<div id="results">
			</div>
		</div>

		<%- include('infix-details-modal.ejs') %>
		<%- include('login-modal.ejs') %>
		<%- include('settings-modal.ejs') %>

		<script src="/vendor/jquery/jquery-3.3.1.js"></script>
		<script src="/vendor/semantic/dist/semantic.min.js"></script>
		<script src="/js/ui-translations.js"></script>
		<script src="/js/index.js"></script>
	</body>
</html>

