<div id="monetization-modal" class="ui modal form">
	<div class="header"><%- _("reykunyu-premium-header") %></div>
	<div class="scrolling content">
		<p><%- _("reykunyu-premium-explanation") %></p>
		<ul class="benefits-list">
			<li><%- _("reykunyu-premium-benefit-priority") %></li>
			<li><%- _("reykunyu-premium-benefit-translator") %> <span class="muted"><%- _("reykunyu-premium-benefit-translator-condition") %></span></li>
			<li><%- _("reykunyu-premium-benefit-new-words") %></li>
			<li><%- _("reykunyu-premium-benefit-nft") %></li>
		</ul>
	</div>
	<div class="actions">
		<div class="ui basic deny button">
			<i class="close icon"></i> <%- _("dialog-cancel") %>
		</div>
		<a id="monetization-continue-button" class="ui primary submit button">
			<i class="checkmark icon"></i> <%- _("dialog-continue") %>
		</a>
	</div>
</div>
