<!doctype html>

<html>
	<%- include('head.ejs', { 'title': 'Create account' }) %>
	<body>
		<div class="container">
			<%- include('header.ejs') %>

			<p><%- _("signup-explanation") %></p>
			<% for (let message of messages) { %>
				<div class="login-error-message error-block"><%- message %></div>
			<% } %>
			<form id="signup-form" class="ui form" method="POST" action="/auth/signup">
					<div class="ui field">
						<label for="username"><%- _('login-username') %></label>
						<input name="username" type="text">
					</div>
					<div class="ui field">
						<label for="password"><%- _('login-password') %></label>
						<input name="password" type="password">
					</div>
				<p class="muted"><%- _("signup-email-explanation") %></p>
				<button type="submit" class="ui primary submit button">
					<i class="checkmark icon"></i> <%- _("signup-button") %>
				</button>
			</form>
		</div>

		<script src="/vendor/jquery/jquery-3.3.1.js"></script>
		<script src="/vendor/semantic/dist/semantic.min.js"></script>
		<script src="/js/ui-translations.js"></script>
	</body>
</html>

