<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Reykunyu &bull; Study</title>
		<link rel="stylesheet" type="text/css" href="/vendor/semantic/dist/semantic.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/study.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<%- include('header.ejs') %>
			<h2 id="lesson-information">
				<div class="lesson-number"><%- _('lesson') %> <%= lesson['id'] + 1 %>: <%= lesson['name'] %></div>
			</h2>
			<div id="progress-bar" style="display: none;" class="ui progress blue">
				<div class="bar">
					<div class="progress"></div>
				</div>
			</div>
		</div>
		<div id="main-container" class="container"></div>

		<!-- modals -->
		<div id="lesson-done-modal" class="ui modal">
			<div class="header">
				Congratulations, you finished Lesson <%= lesson['id'] + 1 %>!
			</div>
			<div class="image content">
				<img class="image" src="/images/study/nitram.png" alt="A happy-looking Na'vi face">
				The words have been added to your review queue. You can start your reviews right away, or you can first view an overview of the words you learned.
			</div>
			<div class="actions">
				<a class="ui primary button" id="to-review-button" href="/study/review?c=<%= course['id'] + 1%>&l=<%= lesson['id'] + 1 %>">Review &rarr;</a>
				<a class="ui button" id="to-overview-button" href="/study/lesson?c=<%= course['id'] + 1%>&l=<%= lesson['id'] + 1 %>">Overview &rarr;</a>
			</div>
		</div>
		<div id="word-info-modal" class="ui modal">
			<div class="header"></div>
			<div class="content"></div>
			<div class="actions">
				<a class="ui primary dismiss button">&rarr; <%- _('dialog-close') %></a>
			</div>
		</div>
		<script src="/vendor/jquery/jquery-3.3.1.js"></script>
		<script src="/vendor/semantic/dist/semantic.js"></script>
		<script src="/js/ui-translations.js"></script>
		<script src="/js/study.js"></script>
	</body>
</html>

