<!doctype html>

<html>
	<%- include('head.ejs', { 'title': 'Study', 'css': 'study.css' }) %>
	<body>
		<div class="container">
			<%- include('header.ejs') %>
			<div id="progress-bar" style="display: none;" class="ui progress blue">
				<div class="bar">
					<div class="progress"></div>
				</div>
			</div>
		</div>
		<div id="main-container" class="container"></div>

		<!-- modals -->
		<div id="lesson-done-modal" class="ui modal">
			<div class="header">
				<%- _('congratulations-after-review-1') %><span id="review-count">...</span><%- _('congratulations-after-review-2') %>
			</div>
			<div class="image content">
				<div class="image">
					<img class="navi-face" src="/images/study/nitram.png">
					<div class="navi-face-description ui top pointing basic label"></div>
				</div>
				<div>
					<ul id="reviewed-words"></ul>
				</div>
			</div>
			<div class="actions">
				<a class="ui primary button"><%- _('dialog-close') %></a>
			</div>
		</div>
		<div id="word-info-modal" class="ui modal">
			<div class="content"></div>
			<div class="actions">
				<a class="ui primary deny button"><%- _('dialog-close') %></a>
			</div>
		</div>
		<script src="/vendor/jquery/jquery-3.3.1.js"></script>
		<script src="/vendor/semantic/dist/semantic.min.js"></script>
		<script src="/js/ui-translations.js"></script>
		<script src="/js/review.js"></script>
	</body>
</html>
