<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Study &bull; Reykunyu</title>
		<link rel="stylesheet" type="text/css" href="/vendor/semantic/dist/semantic.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/tìlam.css" rel="stylesheet">
		<link href="/css/study.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<%- include('header.ejs') %>
		</div>

		<% if (!user) { %>
		<div class="container">
			<p>Reykunyu’s study tool allows you to learn and review Na’vi vocabulary. It has a built-in <i>spaced repetition system</i> (SRS). This means that Reykunyu remembers which words you know well and which words you find difficult, and will make sure difficult words end up in your review sessions more often.</p>
			<p>At the moment, the study tool is in closed beta, to make sure it is bug-free before its release. <i>Rutxe maweypivey</i> &ndash; please be patient: the tool will soon become available to everyone!</p>
			<p class="muted">(If the tool is already supposed to be available to you and you are wondering why you're seeing this text rather than the tool itself: please <a href="/login">login</a> to Reykunyu.)</p>
		</div>
		<% } else { %>
		<div class="container">
			<h2>What would you like to learn?</h2>
			<div class="lessons-container">
				<% for (const i in courses) {
					const course = courses[i]; %>
				<a class="lesson-container learn-link" href="/study/course?course=<%= i %>">
					<div class="lesson-name"><%= course['name'] %></div>
					<div class="lesson-description"><%= course['description'] %></div>
					<div class="lesson-progress"><b><%= course['lesson_count'] %></b> lessons</div>
				</a>
				<% } %>
			</div>
		</div>
		<% } %>

		<script src="/vendor/jquery/jquery-3.3.1.js"></script>
		<script src="/vendor/semantic/dist/semantic.js"></script>
		<script src="/js/ui-translations.js"></script>
	</body>
</html>

