<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Reykunyu &bull; Study</title>
		<link rel="stylesheet" type="text/css" href="/vendor/semantic/dist/semantic.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/study.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<%- include('header.ejs', { 'backTo': '/study', 'backMessage': 'menu-back-to-courses' }) %>
		</div>
		<div id="main-container" class="container">
			<div class="buttons">
			</div>
			<div class="buttons">
				<a class="ui <%= reviewableCount === 0 ? 'disabled ' : '' %>labeled button" href="/study/review?c=<%= course['id'] + 1 %>">
					<div class="ui primary button">Review</div>
					<div class="ui basic blue left pointing label"><%= reviewableCount %></div>
				</a>
			</div>
			<h3><%- course['name'] %></h3>
			<p><%- course['description'] %></p>
			<div class="ui four doubling cards">
				<% for (let lesson of lessons) { %>
					<a class="card" href="/study/lesson?c=<%= course['id'] + 1 %>&l=<%= lesson['id'] + 1 %>">
						<div class="content">
							<div class="header"><%- _('lesson') %> <%= lesson['id'] + 1 %></div>
							<div class="description"><%= lesson['name'] %></div>
						</div>
						<div class="extra content">
							<i class="book icon"></i>
							<b><%= lesson['total_count'] %></b> words
							<br>
							<i class="user icon"></i>
							<b><%= lesson['known_count'] - lesson['reviewable_count'] %></b> known,
							<b><%= lesson['reviewable_count'] %></b> up for review
						</div>
						<div class="ui bottom blue attached progress">
							<div class="bar" style="min-width: 0; width: <%= 100 * (lesson['known_count'] - lesson['reviewable_count']) / lesson['total_count'] %>%;"></div>
						</div>
					</a>
				<% } %>
			</ul>
		</div>
		<script src="/vendor/jquery/jquery-3.3.1.js"></script>
		<script src="/vendor/semantic/dist/semantic.js"></script>
		<script src="/js/ui-translations.js"></script>
	</body>
</html>

